@implements IDisposable
@using Prism.SourceGenerators.Docs.Services
@inject LocalizationService Loc

<div class="top-row ps-3 navbar navbar-dark border-bottom border-secondary border-opacity-25">
    <div class="container-fluid flex-column align-items-stretch py-2">
        <div class="d-flex align-items-center justify-content-between">
            <a class="navbar-brand fw-semibold mb-0" href="">@Loc.T("common.siteTitle")</a>
            <button title="Navigation menu" type="button" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="small text-white-50 mt-1">@Loc.T("common.siteSubtitle")</div>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column py-2">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="docs-nav-dot" aria-hidden="true"></span>@Loc.T("nav.home")
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="getting-started">
                <span class="docs-nav-dot" aria-hidden="true"></span>@Loc.T("nav.gettingStarted")
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="generators">
                <span class="docs-nav-dot" aria-hidden="true"></span>@Loc.T("nav.generators")
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reference">
                <span class="docs-nav-dot" aria-hidden="true"></span>@Loc.T("nav.reference")
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        Loc.CultureChanged += OnCultureChanged;
    }

    private void OnCultureChanged() => InvokeAsync(StateHasChanged);

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void Dispose()
    {
        Loc.CultureChanged -= OnCultureChanged;
    }
}
